<ul *ngIf="paginas?.length > 0" class="pagination justify-content-center">

    <li class="page-item" [ngClass]="paginator.number<=1?'disabled':''">
        <a class="page-link" [routerLink]="['/clientes/page', paginator.number-1]">&laquo;</a>
    </li>

    <!-- <li class="page-item" [ngClass]="paginator.first?'disabled':''">
        <a class="page-link" [routerLink]="['/clientes/page', 0]">1</a>
    </li> -->

    <li class="page-item" [ngClass]="page-1 == paginator.number?'active':''" *ngFor="let page of paginas">
        <span class="page-link" *ngIf="page-1 == paginator.number">{{page}}</span>
        <a class="page-link" *ngIf="page-1 != paginator.number" [routerLink]="['/clientes/page', page-1]">{{page}}</a>
    </li>

    <li class="page-item" [ngClass]="paginator.last?'disabled':''">
        <!-- <a class="page-link" [routerLink]="['/clientes/page', paginator.totalPages]">{{paginator.totalPages}}</a>
    </li> -->

        <li class="page-item" [ngClass]="paginator.number >= paginator.totalPages-2?'disabled':''">
            <a class="page-link" [routerLink]="['/clientes/page', paginator.number+1]">&raquo;</a>
        </li>
</ul>