<div class="card bg-dark text-white my-3">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="username" class=" col-form-label col-sm-2">Username</label>
                <div class="col-sm-6">
                    <input id="username" type="text" class="form-control" [(ngModel)]="user.username" name="username">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class=" col-form-label col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input id="password" type="password" class="form-control" [(ngModel)]="user.password" name="password">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class=" col-form-label col-sm-2">Name</label>
                <div class="col-sm-6">
                    <input id="name" type="text" class="form-control" [(ngModel)]="user.name" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="surname" class=" col-form-label col-sm-2">Surname</label>
                <div class="col-sm-6">
                    <input id="surname" type="text" class="form-control" [(ngModel)]="user.surname" name="surname">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class=" col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input id="email" type="text" class="form-control" [(ngModel)]="user.email" name="email">
                </div>
            </div>
            <div class="form-group row">
                <label class=" col-form-label col-sm-2" for="userRoles">Roles</label>
                <div class="col-sm-6">
                    <select [compareWith]="compareRole" multiple [(ngModel)]="user.roles" [ngModelOptions]="{standalone: true}" class="form-control" id="userRoles">
                    <option *ngFor="let role of roles" [ngValue]="role" >{{role.name}}</option>
                  </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='createUser()' *ngIf="!user.id else elseButton">Create</button>
                    <ng-template #elseButton>
                        <button class="btn btn-primary" role="button" (click)='updateUser()'>Edit</button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>