<footer class="footer text-center rounded-top bg-dark" style="position: relative;">
    <div class="container py-2">
        <p class="text-white my-2">
            &copy; {{autor.nombre}} {{autor.apellido}}
        </p>
    </div>
</footer>