<h1>Users list</h1>
<div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" [routerLink]="['/users/form']">Create User</button>
</div>
<div *ngIf="users?.length==0" class="alert alert-info"> No users</div>
<table class="table table-bordered table-striped" *ngIf="users?.length>0">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Edit</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" [routerLink]="['/users/form', user.id]" class=" btn btn-primary btn-sm">Edit</button></td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" (click)="delete(user)" class=" btn btn-danger btn-sm">Delete</button></td>
        </tr>
    </tbody>
</table>