<h1>Lista de clientes</h1>
<div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']">Crear Cliente</button>
</div>
<div *ngIf="clients?.length==0" class="alert alert-info"> No hay registros en la base de datos</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped" *ngIf="clients?.length>0">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>email</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clients">
                <td>{{cliente.id}}</td>
                <td>{{cliente.username}}</td>
                <td>{{cliente.name}}</td>
                <td>{{cliente.surname}}</td>
                <td>{{cliente.email}}</td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" [routerLink]="['/clientes/form', cliente.id]" class=" btn btn-primary btn-sm">Editar</button></td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" (click)="delete(cliente)" class=" btn btn-danger btn-sm">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <app-paginator *ngIf="paginator" [paginator]="paginator"></app-paginator>
</div>